
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body class="pt-0 pb-0">
    <div class="bg-light-blue h-100vh">
        <div class="row justify-content-center pt-180px">
            <div class="col-md-12 mt-3 text-center">
                <img src="../images/tbsLogo1.png" alt="TaxBandits Logo" class="mb-5 logo">
                <h3>TIN Matching Recipients</h3>
            </div>
            <div class="col-md-4 col-lg-4 mt-4 d-flex w-lg-35 mx-3 shadow rounded p-4 bg-white card-box  position-relative">
                <div>
                    <img class="top-eye-icon" src="../images/shape-4.png" alt="TaxBandits">
                    <div class="text-center grediant-bg mb-3">
                        <img src="../images/tinMatch.png" class=" w-70px" alt="TINMatchingRecipient">
                    </div>
                    <p className="mt-3 mb-0 text-start">
                        Use this endpoint to verify the TINs against the records maintained by the Internal Revenue Service (IRS).
                        TaxBandits will assign a unique RecordId for each of the TIN Match requests. You can use the RecordIds to get the TIN matching statuses.
                    </p>
                    <div class="text-center mt-4">
                        <button class="btn btn_primary mx-2 mx-3" onclick="location.href='@Url.Action("GetBusinessList", "Business")'">Request TIN Match</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('header').empty();
        $('footer').empty();
    });
</script>