@model List<OAuthApiSDK.Models.Business.Business>
@using OAuthApiSDK.Models.Utilities

@if (TempData["BusinessListError"] == null)
{
    <table class="table table-striped mt-4 table-bordered">
        <thead>
            <tr>
                <th>Business Id</th>
                <th>Business Name</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var ListDetails in Model)
                {
                    <tr>
                        <td>
                            @ListDetails.BusinessId
                        </td>
                        <td>
                            @ListDetails.BusinessNm
                        </td>

                        <td>
                            @ListDetails.Email
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="taC">No result found</td>
                </tr>
            }

        </tbody>

    </table>
}
else
{
    <div class="row">
        <div class="bg-light-blue p-3 mt-3 col-6">
            <pre>@Html.Raw(TempData["BusinessListError"])</pre>
        </div>
    </div>
}



